<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Daily Journal</title>
    <link rel="stylesheet" href="/style.css">
    
</head>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&family=Texturina:wght@200&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu:wght@300&display=swap" rel="stylesheet"> 

<body>
    <div >
        <Header class="grid-container">
            <div class="nav-bar">
                <div class="nav-brand">
                    <a href="/">The Daily Journal</a>
                </div>
                <div class="nav-item">
                    <ul class="nav-link">
                        
                        <li><a href="/">Home</a></li>
                        
                    </ul>
                </div>
                
            </div>
        </Header>
        <div class="title">
            <hr>
            <h1>The Daily Journal</h1>
            
            <hr>
        </div>
        

    